.info-modal {
  h2 {
    margin-bottom: 0;
  }
  .info-modal-header {
    background-color: white;
    .close {
      color: $theme-primary;
    }
  }
  .info-modal-body {
    background-color: white;
  }
  .info-modal-footer {
    background-color: white;
  }
}